.menu-list {
  width: 224px;
  .menu-item {
    margin-left: 0;
  }
}

.menu-popper {
  margin-bottom: 8px;
}

.menu-body {
  overflow-y: auto;
}

.menu-item {
  width: 100%;
  justify-content: flex-start;
  border-radius: 0;
  padding: 6px 15px 6px 12px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  color: var(--text-color) !important;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
    color: var(--text-hover-color);
  }

  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }

  &.indend {
    padding-left: 27px;
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
  }

  &:hover .icon {
    color: var(--text-hover-color);
  }

  .title {
    flex-grow: 1;
  }
}

.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
  flex-shrink: 0;
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* User infomation styles */

/* Styles for UserInfo component */
.user-info {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  background-color: #f5f5ff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.username {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.info {
  font-size: 14px;
  color: #666;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.info span {
  white-space: nowrap;
}
