.navbar {
  display: flex;
  gap: 2px;

  & li {
    list-style: none;
  }

  & li a {
    text-decoration: none;
    color: black;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  & li a:hover {
    background-color: var(--nav-item-hover-background);
    color: var(--text-hover-color);

    .icon {
      color: var(--text-hover-color);
      transition: color 0.3s ease;
    }
  }

  & .active {
    background-color: var(--nav-item-hover-background);
    color: var(--text-hover-color);

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      width: calc(100% - 10px * 2);
      height: 4px;
      background: hsl(217.13deg 94.89% 46.08%);
      padding-bottom: 3px;
      border-radius: 20px;
      margin: 0 auto;
      transition: all 0.3s ease;
    }

    .icon {
      color: var(--text-hover-color);
      transition: color 0.3s ease;
    }
  }
}

.title {
  margin-left: 3px;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

/* Ensure icons are vertically centered */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

/* Force SVG or i elements inside .icon to behave as block elements */
.icon svg,
.icon i {
  display: block;
  width: 100%;
  height: 100%;
}
